.row{
    height: fit-content;
}

.row .tech div{
    @apply bg-colorTechBg w-[45%] sm:w-36 md:py-0.5 text-center rounded-full;
    @apply flex justify-center items-center gap-x-2;
}

.tech div svg{
    @apply hidden sm:block;
}

.row .btns button svg{
    width: 20px;
    height: 20px;
}

.row .btns button{
    @apply bg-colorLinkBg hover:bg-colorLinkHover w-[110px] sm:w-32 py-0.5 rounded-full;
    @apply flex justify-center items-center gap-x-2;
}