@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark{
    --colorText: #ffffff;
    --colorBg: rgb(14, 19, 32);
    --colorBgs: rgb(17, 25, 39);
    --colorTechBg: #1E293B;
    --colorLinkBg: #FF6B6B;
    --colorLinkHover: #D04A4A;
    --colorSocialBg: #1D976C;
    --colorSocialHover: #137A51;
    --colorNav: rgb(40, 44, 54);
}

.theme-light{
    --colorText: #000000;
    --colorBg: #F8F9FA;
    --colorBgs: #FFF;
    --colorTechBg: #E2E8F0;
    --colorLinkBg: #0091ff;
    --colorLinkHover: #0073d0;
    --colorSocialBg: #FFB03B;
    --colorSocialHover: #D78C2A;
    --colorNav: #e5e5e5;
}

::-webkit-scrollbar {
    display: none;
}

html{
    scroll-behavior: smooth;
}